<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%thread] %-5level %logger{1} [%file:%line] - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="io.netty" level="WARN" />
  <logger name="com.dmitriav" level="DEBUG" />
  <logger name="com.dmitriav.vertx.Application" level="ALL" />

</configuration>
